
@font-face {font-family: 'iconfont';
  src: url('yundunicon/iconfont.eot'); /* IE9*/
  src: url('yundunicon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('yundunicon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('yundunicon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('yundunicon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

[class^="yundunicon-"], [class*=" yundunicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yundunicon-over-3:before{
  content:"\e60c";
}
.yundunicon-emer-3:before{
  content:"\e60d";
}
.yundunicon-thre-3:before {
  content: "\e608";
}
.yundunicon-vuln-3:before{
  content:"\e606";
}
.yundunicon-info-3:before{
  content:"\e603";
}
.yundunicon-ddos-3:before {
  content: "\e60b";
}
.yundunicon-serv-3:before {
  content: "\e601";
}
.yundunicon-data-3:before {
  content: "\e607";
}
.yundunicon-asse-3:before{
  content:"\e610";
}
.yundunicon-port-3:before{
  content:"\e600";
}
.yundunicon-report-3:before{
  content:"\e614";
}
.yundunicon-user-3:before {
  content: "\e609";
}
.yundunicon-intelligence-3:before {
  content: "\e604";
}
.yundunicon-log-3:before {
  content: "\e605";
}
.yundunicon-sett-3:before {
  content: '\e602';
}
.yundunicon-add-1:before{
  content:'\e615';
}
.yundunicon-manage-1:before{
  content:"\e60f";
}
.yundunicon-regionnum-1:before{
  content:"\e60a";
}
.yundunicon-groupnum-1:before{
  content:"\e611";
}
.yundunicon-addasse-1:before{
  content:"\e612";
}
.yundunicon-assets-1:before{
  content:"\e613";
}
.yundunicon-usercenter:before{
  content:"\e616";
}
.yundunicon-globalsetting:before{
  content:"\e617";
}


