<div  ng-controller="MainCtrl" class="sidebar">


  <div ng-if="items">
    <div ng-repeat="item1 in items">
      <div ng-click="item1.$foldToggle()" class="sidebar-title">
          <span ng-if="item1.$hasChildren()" class="sidebar-title-arrow">
            <span ng-if="!item1.$folded" class="glyphicon glyphicon-play trans"></span>
            <span ng-if="item1.$folded" class="glyphicon glyphicon-play"></span>
          </span>
          {{item1.title}}
        <!--<a ui-sref="{{item1.url}}">{{item1.title}}</a>-->
      </div>
      <!--子节点显示与否，诎诘语当前节点的model：$folder-->
      <ul ng-if="item1.items&&!item1.$folded" class="sidebar-content">
        <li ng-repeat="item2 in item1.items"  ui-sref="{{item2.state}}"  ng-class="{active: isActive==item2.groupIndex}" ng-click="select(item2)">
            <span class="{{item2.icon}}"></span>
            {{item2.title}}
        </li>
      </ul>
    </div>

  </div>
</div>
