<!--<ul ng-if="vm.items">-->
  <!--<li ng-repeat="item1 in vm.items">-->
    <!--<div ng-click="item1.$foldToggle()" style="cursor: pointer">-->
      <!--<span ng-if="item1.$hasChildren()">-->
        <!--<span ng-if="!item1.$folded">-</span>-->
        <!--<span ng-if="item1.$folded">+</span>-->
      <!--</span>-->
      <!--{{item1.title}}-->
    <!--</div>-->
    <!--&lt;!&ndash;子节点显示与否，诎诘语当前节点的model：$folder&ndash;&gt;-->
    <!--<ul ng-if="item1.items&&!item1.$folded">-->
      <!--<li ng-repeat="item2 in item1.items">-->
        <!--<div ng-click="item2.$foldToggle()">-->
            <!--<span ng-if="item2.$hasChildren()">-->
              <!--<span ng-if="!item2.$folded">-</span>-->
              <!--<span ng-if="item2.$folded">+</span>-->
            <!--</span>-->
          <!--{{item2.title}}-->
        <!--</div>-->
        <!--<ul ng-if="item2.items&&!item2.$folded">-->
          <!--<li ng-repeat="item3 in item2.items">-->
            <!--{{item3.title}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->

<!--</ul>-->


<!--1、实现下拉树选框-->
<!--2、只能选择，不能输入-->
<!--3、点击别的地方树选框隐藏-->
<!--4、不选择不可以点击确认-->

<lable class="col-sm-4 control-label">树啊</lable>
<div class="col-sm-6"  style="position: relative">
  <input type="text"  ng-model="selectContent" class="form-control"  ng-blur="isShowFn()"  ng-click="showTree()" readonly style='cursor:default;background:white;color:black' id="isSelected">
  <i class="iconBottom" ng-click="showTree()"></i>
  <div ng-if="isShow" treecontrol class="tree-classic" style="border: 1px solid #66AFE9;width: 100%;"
       tree-model="treeList"
       options="treeOptions"
       on-selection="showSelected(node)"
       selected-node="node1">
    {{node.treeName}}
  </div>
</div>


<!--http://www.jq22.com/jquery-info5757-->

<button class="btn btn-primary" >
  确定
</button>

<style>
.menu>ul>li>ul{
  position: relative;
  left: 50px;
  display: none;
}
.menu>ul>li:hover ul{
  display: block;
}

  li{list-style: none}
</style>


